.choice-container {
  display: flex;
  margin-bottom: 20px;
  width: 800px;
  height: 88px;
  font-size: 2rem;
  background-image: url(option_up.png);
  background-size: contain;
}

.choice-container:hover {
  cursor: pointer;
  background-image: url(option_down.png);
}

.choice-prefix {
  width: 90px;
  height: 88px;
  padding: 18px 30px;
}

.choice-text {
  padding: 18px;
  width: 100%;
}

.correct {
  display: flex;
  margin-bottom: 20px;
  width: 800px;
  height: 88px;
  font-size: 2rem;
  background-size: contain;
  background-image: url(correct.png);
}

.incorrect {
  display: flex;
  margin-bottom: 20px;
  width: 800px;
  height: 88px;
  font-size: 2rem;
  background-size: contain;
  background-image: url(incorrect.png);
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}

/* LOADER */
/* #loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
