.options-row {
  display: flex;
  width: 840px
}

@media (max-width: 800px){
  .options-row {
      display: block;
  }
}

.choice-container {
  display: flex;
  margin-bottom: 40px;
  margin-right: 80px;
  width: 320px;
  height: 88px;
  font-size: 2rem;
  background-image: url(option_up.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.choice-container:hover {
  cursor: pointer;
  background-image: url(option_down.png);
}

.choice-prefix {
  width: 90px;
  height: 88px;
  padding: 18px 30px;
}

.choice-text {
  padding: 18px;
  width: 100%;
}

.correct {
  display: flex;
  margin-bottom: 20px;
  margin-right: 80px;
  width: 320px;
  height: 88px;
  font-size: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(correct.png);
}

.incorrect {
  display: flex;
  margin-bottom: 20px;
  margin-right: 80px;
  width: 320px;
  height: 88px;
  font-size: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(incorrect.png);
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}

