html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://img2.thuthuatphanmem.vn/uploads/2019/03/05/hinh-nen-powerpoint-chu-de-lich-su-don-gian_110315874.jpg);
    background-color: #f0e5c7;
}

.carousel-inner .carousel-item {
    transition: transform 2s ease;
  }

#home {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://trealet.com/albums/Nhom06/media/images/Front_page.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover ;
}

#about {
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.carousel-img {
    height: 570px;
    width: auto;
}

.carousel-caption {
    top: 50%;
  transform: translateY(-50%);
}

.carousel-item {
    border: 10px;
    text-align: center;
}

.padlet-embed {
    margin-top: 40px;
}